* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #eef3f7;
  color: #1d2a35;
}

/* HEADER */
.button1 {
  padding: 14px 32px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: #013237;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.button1:hover {
  background-color: #00adb5; /* color más claro, resalta al pasar el ratón */
  letter-spacing: 2px;
  box-shadow: 0px 6px 20px rgba(0, 173, 181, 0.5);
  transform: translateY(-2px);
}

.button1:active {
  transform: translateY(3px);
  box-shadow: 0px 3px 10px rgba(0, 173, 181, 0.3);
}


header {
  background-color: #013237;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0;
  background-color: #013237;
}

nav a {
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #4d3d3d;
}

main {
  padding: 2rem;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .button1 {
    width: 80%;
    text-align: center;
    padding: 14px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

/* CARDS */
.cards {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 0 20px;
}

.card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 14px rgba(0,0,0,.12);
  transition: transform .3s, box-shadow .3s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h2 {
  padding: 15px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  margin-top: 40px;
  background: #002b36;
  color: white;
}
